!!!
%html
  %head
    %title Commit viewer
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity: 'sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin: 'anonymous'

    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      = render 'layouts/alerts'
      = yield
      = render 'layouts/footer'

    = javascript_include_tag 'application', 'data-turbolinks-track' => true

